.galv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .vraksts{
    font-size: 56px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin-left: 650px;
  }


  .dziv1{
    grid-column: 1/2;
    grid-rows: 1/2;
    display: flex;
    flex-direction: column;
    }
  .lapsa{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .lb{
    height: 450px;
    width: 455px;
  }


  .dziv2{
    grid-column: 2/3;
    grid-rows: 1/2;
    display: flex;
    flex-direction: column;
    }
  .alnis{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .ab{
    height: 450px;
    width: 455px;
  }


  .dziv3{
    grid-column: 3/4;
    grid-rows: 1/2;
    display: flex;
    flex-direction: column;
    }
  .stirna{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .sb{
    height: 450px;
    width: 455px;
  }


  .dziv4{
    grid-column: 4/5;
    grid-rows: 1/2;
    display: flex;
    flex-direction: column;
    }
  .vilks{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .vb{
    height: 450px;
    width: 455px;
  }


  .dziv5{
    grid-column: 1/2;
    grid-rows: 2/3;
    display: flex;
    flex-direction: column;
    }
  .zakis{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .zb{
    height: 450px;
    width: 455px;
  }


  .dziv6{
    grid-column: 2/3;
    grid-rows: 2/3;
    display: flex;
    flex-direction: column;
    }
  .bebrs{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .bb{
    height: 450px;
    width: 455px;
  }


  .dziv7{
    grid-column: 3/4;
    grid-rows: 2/3;
    display: flex;
    flex-direction: column;
    }
  .udrs{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .ub{
    height: 450px;
    width: 455px;
  }


  .dziv8{
    grid-column: 4/5;
    grid-rows: 2/3;
    display: flex;
    flex-direction: column;
    }
  .lacis{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .lacisb{
    height: 450px;
    width: 455px;
  }


  .dziv9{
    grid-column: 1/2;
    grid-rows: 3/4;
    display: flex;
    flex-direction: column;
    }
  .susuris{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .susb{
    height: 450px;
    width: 455px;
  }


  .dziv10{
    grid-column: 2/3;
    grid-rows: 3/4;
    display: flex;
    flex-direction: column;
    }
  .kakis{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .kakisb{
    height: 450px;
    width: 455px;
  }


  .dziv11{
    grid-column: 3/4;
    grid-rows: 3/4;
    display: flex;
    flex-direction: column;
    }
  .suns{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .sunsb{
    height: 450px;
    width: 455px;
  }


  .dziv12{
    grid-column: 4/5;
    grid-rows: 3/4;
    display: flex;
    flex-direction: column;
    }
  .apsis{
    font-size: 24px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    cursor: pointer;
    margin: 0px;
    padding-left: 185px;
    background-color: lightgray;
  }
  .apsisb{
    height: 450px;
    width: 455px;
  }
